<div class="auth-main" style="z-index: 1;">
    <div class="auth_div">
        <div class="card">
            <div class="auth_brand">
                <a class="navbar-brand" href="javascript:void(0);"><i class="fa fa-cube font-25"></i> Qubes</a>
            </div>
            <div class="body">
                <p class="lead">Hello youcode</p>
                <form nz-form class="form-auth-small m-t-20" [formGroup]="validateForm" (ngSubmit)="handle('login')">
                    <nz-form-item class="form-group">
                        <nz-form-control nzErrorTip="Please input your username!">
                            <label for="username" class="control-label sr-only">Username</label>
                            <input type="text" class="form-control round" id="username" formControlName="username"
                                placeholder="Username">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-group">
                        <nz-form-control nzErrorTip="Please input your Password!">
                            <label for="password" class="control-label sr-only">Password</label>
                            <input type="password" class="form-control round" id="password" formControlName="password"
                                placeholder="Password">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control>
                            <button type="submit" class="btn btn-primary btn-round btn-block"
                                [disabled]="!validateForm.valid">LOGIN</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
    </div>
    <div class="auth_right">
        <div id="slider2" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner pb-5">
                <div class="carousel-item active">
                    <img src="assets/images/login-slide1.png" class="img-fluid" alt="login page" />
                    <div class="px-4">
                        <h2>Bootstrap 4x</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/login-slide2.png" class="img-fluid" alt="login page" />
                    <div class="px-4">
                        <h2>100% Secure</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/login-slide2.png" class="img-fluid" alt="login page" />
                    <div class="px-4">
                        <h2>Saving Time</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
